body {
    font-family: 'Montserrat';
}

#title {
    background-color: #ff4c68;
    color: #fff;
}

.container-fluid {
    padding: 3% 15% 7%;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.5;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.5;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    font-weight: 900;
}

p {
    color: #8f8f8f;
    font-size: medium;
}

/* Navigation Bar */

.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    margin: 0 18px;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
}

/* Download Buttons */

.download-button {
    margin: 5% 3% 5% 0;
}

/* Title Image */

.title-image {
    position: absolute;
    right: 30%;
    transform: rotate(25deg);
    width: 60%;
}

.image {
    position: relative;
}

/* Features Section */

#features {
    background-color: #fff;
    padding: 7% 15%;
    position: relative;
}

.feature-box {
    padding: 5% 4%;
    text-align: center;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}

/* Testimonial Section */

#testimonials {
    background-color: #ef8172;
    color: #fff;
    text-align: center;
}

.testimonial-image {
    border-radius: 100%;
    margin: 20px;
    width: 10%;
}

.carousel-item {
    padding: 7% 15%;
}

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
    text-align: center;
}

.press-logo {
    margin: 20px 20px 50px;
    width: 15%;
}

/* Pricing Section */

#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-column {
    padding: 3% 2%;
}