body {
  background-color: #defcf9;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: min-content;
}

h1 {
  white-space: nowrap;
}

button {
  width: fit-content;
  padding: 5px 10px;
  cursor: pointer;
}
