body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    font-size: 5.625rem;
    margin: 50px auto 0;
    font-family: 'Sacramento', cursive;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

.top-container {
    background-color: #DEFCF9;
    position: relative;
    padding-top: 100px;
}

.middle-container {
}

.bottom-container {
}

.pro {
    text-decoration: underline;
}

.top-cloud {
    position: absolute;
    top: 50px;
    right: 300px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}