body {
    font-family: 'Merriweather', serif;
    margin: 0;
    text-align: center;
}

h1 {
    color: #66BFBF;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    margin: 50px auto 0;
}

h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

.top-container {
    background-color: #DEFCF9;
    padding-top: 100px;
    position: relative;
}

.middle-container {
}

.skill-row {
    line-height: 2;
    margin: 100px auto;
    text-align: left;
    width: 50%;
}

.code-img{
    float: left;
    margin-right: 30px;
    width: 25%;
}

.cycle-img {
    float: right;
    margin-left: 30px;
    width: 25%;
}

.bottom-container {
}

.pro {
    text-decoration: underline;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    bottom: 300px;
    left: 300px;
    position: absolute;
}

a {
    color: #11999E;
}