body {
  background-color: #393E46;
  margin: 0;
}

.container {
  margin: auto;
  text-align: center;
  width: 70%;
}

h1 {
  color: #4ECCA3;
  font-family: 'Lobster', cursive;
  font-size: 6rem;
  margin: 30px;
  text-shadow: 5px 0 #232931;
}

.dice {
  display: inline-block;
  text-align: center;
}

p {
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
  font-size: 2rem;
}

img {
  width: 80%;
}


.footer {
  background-color: #4ECCA3;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  color: #EEEEEE;
  font-family: 'Indie Flower', cursive;
  margin-top: 5%;
  padding: 1.5rem 0rem;
  text-align: center;
}

.footer-header {
  font-size: x-large;
  font-weight: bolder;
}

.footer-ul-links {
  padding: 10px 0 0;
}

.lists-item-inline {
  display: inline;
  padding: 0rem 0.5rem;
}

.footer-links {
  color: #FFF;
  padding-left: 0px;
  text-decoration: none;
}