body {
    background-color: #DEFCF9;
}

h1, h3 {
    color: #66BFBF;
}

h3 {
    font-style: italic;   
}

hr {
    border-color: gray;
    border-style: dotted none none;
    width: 10%;
    border-width: 5px;
}